body {
    background-color: #2F4F4F;
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x:hidden;
}


div.newgame.container.sixteen-columns {
    padding-top: 50px;
}
.single-die{border-top:1px solid #fff;height:60px;width:100%;}
.single-die:nth-child(even){background-color:rgba(255,255,255,0.3);}
.single-die:last-child{border-bottom:1px solid #fff;}
.delete-die,.sides,.side-selector,.result{float:left;}
.roll {float:right}

.delete-die{border-color:none;border:0px;border:none;border-image-width:0;box-shadow:none;background-color:#f00;color:#fff;font-size:1em;padding:20px 10px;height:auto;width:50%;text-align:left;}
.roll{border-color:none;border:0px;border:none;border-image-width:0;box-shadow:none;background-color:#0f0;color:#fff;font-size:1em;padding:20px 10px;height:auto;width:50%;text-align:right;}
.delete-roll {margin-top:-62px;}

.die-wrap{background-color:#2F4F4F;display:block;height:100%;position:relative;margin:0 auto;width:99%;overflow:hidden;z-index:10000;}

.sides {
   background: #778899;
   color: #fff;
   width: 30%;
   padding: 20px;
   font-size: 1.5em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: auto;
   -webkit-appearance: none;
   text-align:center;
}

.single-die select {
   background: #778899;
   color: #fff;
   margin-top:-1px;
   width: 10%;
   padding: 20px;
   font-size: 1.5em;
   /*line-height: 1;*/
   border: 0;
   border-radius: 0;
   height: auto;
   -webkit-appearance: none;
   text-align:center;
}

.sides:after {
    content: "";
    position: absolute;
    left: 43%;
    top: -6px;
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-left: 44px solid #778899;
    border-bottom: 36px solid transparent;
}



.result {
   background: transparent;
   color: #fff;
   width: 40%;
   padding: 20px;
   font-size: 1.5em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: auto;
   -webkit-appearance: none;
   text-align:center;
}



.d2 {}
.d3 {}
.d4 {}
.d5 {}
.d6 {}
.d7 {}
.d8 {}
.d9 {}
.d10 {}
.d11 {}
.d12 {}
.d13 {}
.d14 {}
.d15 {}
.d16 {}
.d17 {}
.d18 {}
.d19 {}
.d20 {}
.d21 {}
.d22 {}
.d23 {}
.d24 {}
.d25 {}
.d26 {}
.d27 {}
.d28 {}
.d29 {}